@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-size: var(--font-size);
}

body{
    @apply bg-[color:var(--background-primary)] text-[color:var(--background-titleText)] text-[0.938rem]
}


.sideBarMenuItem{
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    white-space: nowrap;
    line-height: 24px;
    margin-left: 20px;
    margin-right: 16px;
}

/*
sol sidebar : 275px
sağ iki kısım : 1050px
aradaki gap : 100px
orta :600px / auto 
sağ sidebar : 350px
toplam alan : 1325px
*/

